<div class="container mt-3">
  <h1>All our flats</h1>
  <p><%= @flats.length %> Available flats</p>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-4">
      <div class="card mb-3">
        <div class="card-image">
          <%= flat.name  %>
        </div>

        <div class="card-content">
          <%= flat.address %>
        </div>

        <div class="card-actions">
          <p> Bed: <%= flat.bedrooms %> / Bath: <%= flat.bathrooms %> </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>


</div>
