<div class="container mt-3">
  <h1>All our flats</h1>
  <p><%= @flats.length %> Available flats</p>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-4">
      <div class="card mb-3 text-center">
        <div class="card-image">
          <%= flat.name  %>
          <%= flat.id  %>
        </div>

        <div class="card-content">
         <h5><%= number_to_currency(flat.price_per_night, precision: 0) %></h5>
         <p> ðŸ›Œ: <%= flat.bedrooms %> / ðŸ›€: <%= flat.bathrooms %> </p>
        </div>

        <div class="card-actions text-center">
           <%= link_to 'ðŸ‘€', flat_path(flat) %>
           <%= link_to 'âœï¸', edit_flat_path(flat) %>
           <%= link_to 'ðŸ—‘', flat_path(flat), method: :delete %>
        </div>
      </div>
    </div>
    <% end %>
  </div>


</div></h1>
